// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.table-row-official_event{
	background-color: #d2f0cd;
}

.table-row-panel{
	background-color: #cdf0f0	
}

.table-row-game{
	background-color: #f0cde9
}

.table-row-outing{
	background-color: #f1e2bb
}

@media only screen and (max-width: 769px) {
	.hide-column{
		display: none;
	}
}