// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.event-border {
  border-top: .2em dashed #dee2e6;
  border-bottom: .2em dashed #dee2e6;
  border-left: .4em solid #dee2e6;
  border-right: .4em solid #dee2e6;
  /*background: #F9FBF3;*/
}
.table-row-official_event{
	border-color: #7AF588;
}

.table-row-panel{
	border-color: #9BBDF4;	
}

.table-row-game{
	border-color: #DE4365
}

.table-row-outing{
	border-color: #FDFF00
}

@media only screen and (max-width: 769px) {
	.hide-column{
		display: none;
	}
}