// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.hero-image{
	width: 100%;
	height: 687px;
	margin-top: -30px;
	background: url('https://cdn.shopify.com/s/files/1/1555/2831/t/3/assets/home-slider-slide-1.jpg?13037179189397161124');
	background-repeat: no-repeat;
    background-size: auto;
}
